//------------------------------------------------------------------------------
//   Import all styles
//-----------------------------------------------------------------------------

//------- BASE
@import "base/all";
@import "mixins/all";
@import "settings/all";

//------- TRUMPS
@import "trumps/all";

.container {
  position: relative;
  width: 100%;
  max-width: 1070px;

  margin: 0 auto;
  padding: 0 15px;
}

.nav-link--active {
  border: 1px solid red;
}
