//------------------------------------------------------------------------------
//   Import all styles
//-----------------------------------------------------------------------------

//------- BASE
@import "base/all";
@import "mixins/all";
@import "settings/all";

//------- TRUMPS
@import "trumps/all";

.container {
  position: relative;
  width: 100%;
  max-width: 1070px;

  margin: 0 auto;
  padding: 0 15px;
}

a {
  border: 4px solid transparent;
}
.nav-link--active {
  border: 4px solid red;
}

.App {
  outline: 0;
}

.page-title {
  font-size: 2.5rem;
  padding: 20px;
}

.page-text {
  font-size: 1.6rem;
  padding: 10px 20px;
}
